*{
    box-sizing: border-box;
    padding-right: 0px;
    padding-left: 0px;
}

.kontener{
    min-height: 100vh;
    padding: 0;
    background-image: linear-gradient( 135.8deg,  rgba(26,26,29,1) 27.1%, rgba(111,34,50,1) 77.5% );
    background-size: cover !important;
}
#site{
    color: white;
}
nav{
    background-color: white;
}
h1{
  margin: 0;
  text-align: center;
  font-size:xx-large;
}
a{
    cursor: pointer;
}
.lewy-rog{
    width: 50%;
    border-bottom-left-radius: 3px;
}
.prawy-rog{
    width: 50%;
    border-bottom-right-radius: 3px;
}
.row-flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: -1vh;
}
.col-md-6, .col-lg-4, .col-sm-12{
    padding-top: 4vh;
}
.card{
  height: 100%;
  padding: 0;
}
.ikon{
    font-size: 1.74em;
    color: chartreuse;
    padding-left: 0.35em;
    cursor: pointer;
}
#saveIkon{
    font-size: 1.84em;
    color:cornflowerblue;
    line-height: 1.47em;
}
.fa-file{
    font-size: 1.6em;
}
.fa-upload{
    color: chocolate;
    font-size: 1.75em;
    line-height: 1.4em;
    padding-left: 0.35em;
}
.fa-file-download {
    color: cornflowerblue;
    font-size: 1.6em;
    line-height: 1.7em;
}
.fa-file-import{
    color: darkgoldenrod;
    font-size: 1.6em;
    line-height: 1.7em;
}
.fa-cloud-upload-alt{
    color: white;
    line-height: 1.5em;
}
#img_toast{
    padding-right: 0.9em;
}
#errorModal{
    background-color: crimson;
}

.radio-item{
    margin:0;padding:0;
    width: 100%;
    height: 100%;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.radioLabel{
   height: 180px;
   width: 50%;
   border: 6px solid #18f98d;
   margin: 0;
   padding: 0;
   border-radius: 1px;
   position: relative;
   color: #18f98d;
   transition: 0.5s;
}
.radioLabel label i{
    font-size: 80px;
    position: absolute;
    height: 33%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%); 
}
.radio-item:checked {
    background-color: #16d87a;
}
